body,
        .body-background-color {
            background: #cfcece;
        }
        .primary-background-color {
            background: #a71515;
        }
        .secondary-background-color {
            background: #000000;
        }
        .tertiary-background-color {
            background: #000000;
        }
        .menu-background-color {
            background: rgba(167, 21, 21, 1.0);
        }
        .main-menu-location ul li:hover > a,
        .main-menu-location ul ul.sub-menu li a:hover,
        .login-menu-location ul li:hover > a,
        .login-menu-location ul ul.sub-menu li a:hover {
            background: #a71515;
        }
        .main-menu-location ul ul.sub-menu,
        .login-menu-location ul ul.sub-menu {
            background: #000000;
        }
        .menu-hightlight-color {
            background: rgba(179, 33, 33, 1.0);
        }
        .footer-background-color {
            background: #a71515;
        }
        .footer-background-color-basement {
            background: #8d0000;
        }
        .between-primary-and-secondary-33 {
            background: #370707;
        }
        .between-primary-and-secondary-66 {
            background: #6e0e0e;
        }
        .header_font,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Arvo", serif;
        }
        .body_font,
        body {
            font-family: "Raleway", sans-serif;
        }
        .primary-font-color,
        primary-font-color a,
        primary-font-color a:visited,
        h2 {
            color: #000000;
        }
        .primary-font-color-alt {
            color: #191919;
        }
        ul.property-menu li.menu-item.current-item a,
        .property-single-detail-box {
            color: #ffffff;
        }
        ul.property-menu li.menu-item.current-item:after {
            border-top: 10px #a71515 solid;
        }
        .menu-font-color,
        .footer,
        .copyright {
            color: #ffffff;
        }
        h3,
        .icon-home,
        .header-phone {
            color: #a71515;
        }
        .secondary-font-color,
        h4 {
            color: #000000;
        }
        .tertiary-font-color,
        h1,
        .footer h2 {
            color: #000000;
        }
        .header-phone .social-menu-location ul li a:before {
            color: #a71515;
        }
        .greeting-box {
            background: rgba(46, 36, 35, 0);
        }
        .greeting-box,
        .greeting-box h1 {
            color: #ffffff;
        }
        .greeting-button,
        .greeting-button:hover,
        .greeting-button:visited {
            color: #ffffff;
        }
        .greeting-button {
            background: #ffffff;
        }
        a.greeting-button:hover {
            background: #e5e5e5;
        }
        .box_1 {
            background: #000000;
        }
        .box_1 {
            color: #ffffff;
        }
        .box-button_1 {
            background: #a71515;
        }
        .box-button_1:hover {
            background: #8d0000;
        }
        .box-button_1,
        .box-button_1:hover,
        .box-button_1:visited {
            color: #ffffff;
        }
        .box_2 {
            background: #000000;
        }
        .box_2 {
            color: #ffffff;
        }
        .box-button_2 {
            background: #a71515;
        }
        .box-button_2:hover {
            background: #8d0000;
        }
        .box-button_2,
        .box-button_2:hover,
        .box-button_2:visited {
            color: #ffffff;
        }
        .box_3 {
            background: #000000;
        }
        .box_3 {
            color: #ffffff;
        }
        .box-button_3 {
            background: #a71515;
        }
        .box-button_3:hover {
            background: #8d0000;
        }
        .box-button_3,
        .box-button_3:hover,
        .box-button_3:visited {
            color: #ffffff;
        }
        .header_font,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Arvo", serif;
        }
        .body_font,
        body {
            font-family: "Raleway", sans-serif;
        }
