body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

#wrapper {
  width: 100%;
  width: calc(100% - 120px);
  margin: 0 auto;
  background: #CCC;
}


/* HEADER */
#hdr, #content, #ftr {
  padding: 5px 15px;
}

#hdr {
  border-bottom: 5px solid black;
  overflow: auto;
}
#hdr nav ul {
  list-style: none;
}
#hdr nav ul li {
  display: inline-block;
}
#hdr nav ul li a {
  font-weight: bold;
  padding: 3px 10px;
}
#hdr nav ul li a:hover {
  color: yellow;
}


/* CONTENT */
#content {
  min-height: 850px;
}


/* FOOTER */
.footer {
  width:100%;
  display:inline-block;
  color:#fff;
  padding:50px 0;
}

.footer strong {
  color:#fff;
}

.footer h2 {
  font-size:24px;
  padding-bottom:15px;
}

.footer .footer-logo {
  max-width:75%;
  margin:0 auto;
}

.footer .contact-info  {
  font-size:16px;
  line-height:26px;
  margin-left:33px;
  display:block;
}


/* CLASSES */
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.title {

}
.active {
  border-bottom: 5px solid yellow;
}

.tertiary-font-color {
  color: #adc63d;
}

.super-container {
  position:relative;
  width:100%;
  margin:0 auto;
  padding:0;
  background-color: #2e2e2e;
}

.container {
  position:relative;
  width:90%;
  max-width:1100px;
  margin:0 auto;
  padding:0;
}
